:root {
	--color-background: rgb(32, 32, 32);
	--color-onBackground: white;
	--color-surface: rgb(64, 64, 64);
	--color-onSurface: white;
	--color-primary: cornflowerblue;
	--default-font: "Verdana";
}
body,
html {
	margin: 0 !important;
	padding: 0 !important;
}
* {
	font-family: var(--default-font);
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: var(--color-background);
	color: var(--color-onBackground);
}
input {
	background-color: var(--color-surface);
	color: var(--color-onSurface);
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
input[type="text"],
input[type="password"],
input[type="number"] {
	outline: 1px solid var(--color-onBackground);
	border-radius: 3px;
	background-color: var(--color-surface);
	color: var(--color-onSurface);
	padding: 0.5em 1em 0.5em 1em;
	margin: 0 1em´0 1em;
}
input[type="button"],
input[type="submit"] {
	font-family: var(--default-font);
	font-size: 1em;
	outline: 1px solid var(--color-onBackground);
	border-radius: 3px;
	background-color: var(--color-surface);
	color: var(--color-onSurface);
	padding: 0.5em 1em 0.5em 1em;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="number"]:hover {
	background-color: var(--color-primary);
	cursor: pointer;
}

.center-content-horizontal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.center-content-horizontal {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
